*{
    margin: 0;
    padding: 0;
}

.logo{
    float: left;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
main{
    text-align: center;
}
.name h3{
    font-size: 2.5em;
    padding: 40px;
    text-decoration:underline 3px;
}
.time span{
    font-size: 20px;
}
.flower{
    color: red;
}
.foot{
    text-align: center;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 28px;
    font-size: 1.4em;
}